@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');




.contact-container {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 40px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 5px;
  }
  
  .form-group {
    margin-bottom: 15px;
    background-color: #fff;
    
  }
  
  label {
    font-weight: light;
    font-family: 'Poppins', 'ExtraLight200' sans-serif;
    background-color: transparent;
  }

  .title {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    padding: 30px;
    background-color: transparent;
    
  }
  
  .form-control {
    width: 100%;
    padding: 8px;
    border: none;
    border-bottom: 1px solid #d8d7d7;
    border-radius: 4px;
    font-size: 16px;

    
} 
  
  textarea.form-control {
    resize: vertical;
    min-height: 110px;
    padding-top: 9px;
    padding-bottom: 13px;
  }
  
  .btn-primary {
    display: block;
    margin: 0 auto;
    width: 100%;
    background:#b06ab3;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    font-weight: bold;
    font-family: 'Poppins', 'ExtraLight300' sans-serif;
    font-size: 18px;
  }
  
  .btn-primary:hover {
    background-color: #4568dc;
    transition: .3s;
  }
  