.text-center h5 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    height: 5vh;
    font-weight: bold;
    letter-spacing: .04em;
}

.headings h6 {
    text-align: left;
    margin-top: 40px;
    font-weight: bold;
}

.left-line {
    border-color: #000; 
    margin-top: 10px; 
}


.section {
    display: flex;
    flex-direction: column;
}

.section-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    font-weight: bold;
}

.job-title {
    text-align: left; 
}

.date {
    text-align: right; 
}

.company {
    margin-top: 5px;
    text-align: left;
    margin-bottom: 20px;
    font-weight: bold;
}

.job-description {
    flex: 1;
    text-align: left;
}
